<div class="card">
  <h2>Edit Assignment</h2>
  <p><strong>Volunteer:</strong> <%= @assignment.volunteer.full_name %></p>
  <p><strong>Event:</strong> <%= @assignment.event.title %></p>

  <%= render "form" %>
</div>
