<div class="card">
  <h2>Volunteer Login</h2>
  <%= form_with url: volunteer_login_path, method: :post, local: true do |form| %>
    <label for="username">Username</label>
    <%= text_field_tag :username, params[:username], required: true %>

    <label for="password">Password</label>
    <%= password_field_tag :password, nil, required: true %>

    <%= form.submit "Log in" %>
  <% end %>
</div>
